@model ElTocardo.Authorization.Server.ViewModels.LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/login.css"> 
</head>
<body>

    <div class="login-container">
        <!-- OpenIddict Logo -->
        <img src="https://avatars.githubusercontent.com/u/13908567?s=200&v=4" alt="OpenIddict Logo" class="logo" width="80" height="80">

        <!-- Login Form -->
        <form autocomplete="off" asp-route="Login">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="mb-3">
                <input type="text" class="form-control form-control-lg" placeholder="Username" asp-for="Username" autofocus>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control form-control-lg" placeholder="Password" asp-for="Password">
            </div>
            <button type="submit" class="btn btn-dark btn-lg">Login</button>
        </form>
    </div>

    <!-- Bootstrap JS (Optional if using any JS features) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
