@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<style>
    .clean-authorization {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>

<div class="text-center clean-authorization" style="padding-top: 60px;">
    <h1 class="display-4">ElTocardo Authorization Server</h1>
</div>